<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>IMG to PDF</title>
	<style>
		div{
				margin-top: 100px;
				text-align: center;
		}
	</style>
</head>
<body>
	<div>
		<h1>IMAGE to PDF</h1>
		<form action="" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<label>Select to image to Convert</label><br>
			<input type="file" name="img" required /> <br><br><br>
			<input type="submit" value="Convert" />
		</form>
		<br>
		{% if url %}
			<a href="/media/image.pdf" download="download">Download PDF</a>
		{% endif %}
	</div>
</body>
</html>